*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/connect-database/target/
/htmlcssjs/target/
/mvc/old-style/target/
/mvc/servlet/target/
/mvc/primefaces/target/
/mvc/resource-local/target/
/mvc/orm/resource-local/target/
/mvc/orm/resource-local - Copy/target/
/mvc/orm/mapping/target/
/mvc/orm/mapping - Copy/target/
/mvc/orm/advance-mapping/target/
/mvc/orm/spring-data/target/
/mvc/orm/advance-mapping - Copy/target/
/mvc/orm/manual/target/
/mvc/orm/user-mapping/target/
/mvc/orm/student/target/
/mvc/orm/student-mapping/target/
/orm/advance-mapping/target/
/orm/mapping/target/
/orm/resource-local/target/
/orm/spring-data/target/
/orm/student-mapping/target/
/orm/user-mapping/target/
/htmlcssjs/src/main/webapp/example.html
/orm/hr/target/